{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {%with messages = get_flashed_messages() %} <!--gets the flash messages-->
	    {% if messages %}
		    {% for msg in messages %}
			    <p style="text-align: center; font-size: 150%;">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
<form action="#" method="post">
	<p  style="text-align:center; font-size: 120%;">what to search:</p> <!--paragraph-->
	<p  style="text-align:center"><input type="text" name="video name" /></p> <!--saves the data that the user filled in the text box in the variable name "nm"(or anything you putted there) -->
	<p  style="text-align:center;"><input type="submit" value="submit"/></p> <!--submit the data-->
</form>
{% endblock %}